/* header */

body {
  margin: 0;
}

.container {
  background-color: #add8e6;
  margin: 0;
}

.header {
  font-size: 46px;
  color: white;
  text-align: center;
  font-weight: 900;
  font-family: "lucida handwriting";
  font-variant-caps: all-petite-caps;
}

.title {
  margin-top: 0;
  margin-bottom: 28px;
}

/* central body */

.main-body {
  margin: 0 15%;
  padding: 0;
  text-align: center;
}

.row {
  display: inline-block;
  width: 100%
}

.cell {
  background-image: url('../img/pattern.png');
  background-size: 100%;
  display: inline-block;
  border-radius: 5%;
  height: 200px;
  width: 180px;
  margin: 2% 1%;
}

#show {
  background-color: white;
  background-image: url('../img/noun_air_balloon.png');
  background-repeat:no-repeat;
  background-size: 90%;
  position: relative;
}

.balloon-h1 {
  position: absolute;
  color: #e61986;
  font-style: oblique;
  font-weight: 700;
  top: 135px;
  left: 10px;
}

/* footer */

.author {
  padding: 30px 0 70px 0;
  text-align: center;
  font-weight: bolder;
}

/* BONUS */

[class^=overlay-] {
  background-color: white;
  background-repeat:no-repeat;
  height: 200px;
  width: 180px;
  border-radius: 5%;
  background-size: 90%;
  position: relative;
  opacity: 0;
  transition: 1s ease;
}

.cell:hover [class^=overlay-] {
  opacity: 1;
}

.overlay-bicycle {
  background-image:url('../img/noun_bicycle.png');
}

.overlay-ship {
  background-image: url('../img/noun_cruise_ship.png');
}

.overlay-submarine {
  background-image: url('../img/noun_submarine.png');
}

.overlay-tractor {
  background-image: url('../img/noun_tractor.png');
}

.overlay-tram {
  background-image: url('../img/noun_tram.png');
}

.overlay-balloon {
  background-image: url('../img/noun_air_balloon.png');
}

.bicycle-h1 {
  position: absolute;
  color: #e61986;
  font-style: oblique;
  font-weight: 700;
  top: 135px;
  left: 10px;
}

.ship-h1 {
  position: absolute;
  color: #e61986;
  font-style: oblique;
  font-weight: 700;
  top: 135px;
  left: 10px;
}

.submarine-h1 {
  position: absolute;
  color: #e61986;
  font-style: oblique;
  font-weight: 700;
  top: 135px;
  left: 10px;
}

.tractor-h1 {
  position: absolute;
  color: #e61986;
  font-style: oblique;
  font-weight: 700;
  top: 135px;
  left: 10px;
}

.tram-h1 {
  position: absolute;
  color: #e61986;
  font-style: oblique;
  font-weight: 700;
  top: 135px;
  left: 10px;
}
