body {
  margin: 0;
}

.container {
  background-color: #add8e6;
  margin: 0;
}

.header {
  font-size: 36px;
  color: white;
  text-align: center;
  font-weight: 900;
  font-variant-caps: all-petite-caps;
}

.title {
  margin-top: 0;
}

.main-body {
  margin: 0 15%;
  padding: 0;
  text-align: center;
}

.row {
  display: inline-block;
  width: 100%
}

.cell {
  background-image: url('../img/pattern.png');
  background-size: 100%;
  display: inline-block;
  border-radius: 5%;
  height: 200px;
  width: 180px;
  margin: 2% 1%;
}

.author {
  padding: 30px 0 70px 0;
  text-align: center;
}

#show {
  background-color: white;
  background-image: url('../img/noun_air_balloon.png');
  background-repeat:no-repeat;
  background-size: 90%;
  position: relative;
}

.balloon {
  position: absolute;
  color: #e61986;
  font-style: oblique;
  font-weight: 700;
  top: 135px;
  left: 10px;
}
